<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="TwoLinkArm" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            <param name="calculate_dynamics">true</param>
            <!-- <plugin>two_link_arm_hardware/TwoLinkArmHardwareInterface</plugin> -->
        </hardware>
        <joint name="arm_base_forearm_joint">
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>
        <joint name="forearm_hand_joint">
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>
    </ros2_control>

</robot>